{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br" class="dark">



<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeneiz: WalletPay</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
{% if user.is_authenticated %}
{% include 'dashboard/navbar.html' %}
{% else %}
{% include 'registration/navbar.html' %}
{% endif %}

<body class="bg-green-50">


    <div class="container mx-auto mt-4 mb-28">
        {% block content %}
        {% endblock content %}
    </div>



    {% include 'dashboard/footer.html' %}









    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
</body>

</html>